@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Raleway:wght@100&family=Rowdies:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Grape Nuts', ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rowdies', cursive;
}
.backgroun{
    width: 100%;
    height: 100%;
    /*background-image: url("./nature-3082832__480.jpg");
    background-image: url("./nature-3082832__480.jpg");*/
    min-height: 500px;
    background-repeat: no-repeat;
    
}
.mah{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: red;
    margin-top: 10px;
    font-family: "cursive",
}
.countDown{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url();
}
.row div{
   font-weight: bold;
   text-transform: uppercase;
    
}